DRSCRATCH_SECRET_KEY=genera-una-clave-segura-aqui
DRSCRATCH_DEBUG=False
ALLOWED_HOSTS=tudominio.es
DRSCRATCH_DATABASE_NAME=nombre_bd
DRSCRATCH_DATABASE_USER=usuario_bd
DRSCRATCH_DATABASE_PASSWORD=contraseña_bd
DRSCRATCH_DATABASE_ROOT_PASSWORD=contraseña_root
