{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'app/images/favicon.ico' %}">

    <title>Dr. Snap</title>

    <script src="{% static 'app/scripts/jquery.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'app/content/bootstrap.min.css' %}">
    
    <link rel="stylesheet" href="{% static 'app/content/style.css' %}">
    <link rel="stylesheet" href="{% static 'app/icons/icons.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'app/content/css_002.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'app/content/css.css' %}">
    <link rel="stylesheet" href="{% static 'app/content/bootstrap-main.css' %}">
    <link rel="stylesheet" href="{% static 'app/content/animate.css' %}">
    <link rel="stylesheet" href="{% static 'app/content/owl_002.css' %}">
    <link rel="stylesheet" href="{% static 'app/content/owl.css' %}">
    <link rel="stylesheet" href="{% static 'app/content/nivo-lightbox.css' %}">
    <link rel="stylesheet" href="{% static 'app/content/default.css' %}">
    <link rel="stylesheet" href="{% static 'app/content/styles.css' %}">
    <link href="{% static 'app/content/dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'app/content/dropdowns-enhancement.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'app/content/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'app/content/red.css' %}">

    </head>

<body>
    <div id="mywrapper">
        <div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation" role="navigation">
            <div class="container">
                <div class="navbar-collapse collapse" id="stamp-navigation">
                    <a class="navbar-brand" href="/">
                        <img src="{% static 'app/images/logo_main.png' %}" alt="Dr. Snap">
                    </a>

                    <ul class="nav navbar-nav navbar-right">
                        
                        <li style="padding-top: 15px; margin-right: 20px;">
                            <form action="/i18n/setlang/" method="post" style="margin: 0;">
                                {% csrf_token %}
                                <input name="next" type="hidden" value="{{ request.get_full_path }}" />
                                
                                <select name="language" onchange="this.form.submit()" class="form-control input-sm" 
                                        style="width: auto; display: inline-block; cursor: pointer; background-color: #222; color: #fff; border: 1px solid #444;">
                                    {% get_language_info_list for LANGUAGES as languages %}
                                    {% for language in languages %}
                                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                            {{ language.code|upper }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </form>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle navbar-text" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                {% trans "Logged in as " %} {{ username }} <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href='/change_pwd'>{% trans "Change password" %}</a></li>
                                <li><a href="/logout_coder">{% trans "Logout" %}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <br>
                    <div class="thumbnail">
                        <img src="{% static img|default:'app/images/drScratch.png' %}">
                    </div>
                    <ul class="nav nav-sidebar">
                        <li><a class="litext" href="/coder/{{ username }}"><span class="glyphicon glyphicon-dashboard"></span> {% trans "Analysis" %}</a></li>
                        <li><a class="litext" href="/coder/stats/{{ username }}"><span class="glyphicon glyphicon-stats"></span> {% trans "Stats"%}</a></li>
                        
                        <li data-toggle="collapse" data-target="#learn" class="collapsed">
                            <a href="#" class="litext"><span class="glyphicon glyphicon-book"></span> {% trans "Learn more" %} <span class="caret"></span></a>
                            <ul class="sub-menu collapse" id="learn">
                                <li><a href="/learn/Logic/">{% trans "Logic" %}</a></li>
                                <li><a href="/learn/Data/">{% trans "Data representation" %}</a></li>
                                <li><a href="/learn/Parallelization/">{% trans "Parallelism" %}</a></li>
                                <li><a href="/learn/Synchronization/">{% trans "Synchronization" %}</a></li>
                                <li><a href="/learn/User/">{% trans "User interactivity" %}</a></li>
                                <li><a href="/learn/Flow/">{% trans "Flow control" %}</a></li>
                                <li><a href="/learn/Abstraction/">{% trans "Abstraction" %}</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/learn/duplicatedScripts/">{% trans "Duplicated scripts" %}</a></li>
                                <li><a href="/learn/spriteNaming/">{% trans "Incorrect names" %}</a></li>
                                <li><a href="/learn/deadCode/">{% trans "Dead code" %}</a></li>
                                <li><a href="/learn/attrInit/">{% trans "Attribute initialization" %}</a></li>
                            </ul>
                        </li>
                        <li><a class="litext" href="/coder/settings/{{ username }}"><span class="glyphicon glyphicon-cog"></span> {% trans "Settings" %}</a></li>
                    </ul>
                </div>

                {% block content %}
                {% endblock %}

                <footer class="footer grey-bg">
                    <div class="container">
                        {% trans "©2019 Dr. Scratch" %}
                        <ul class="social-icons">
                            <li><a href="#"><span class="icon-social-twitter transparent-text-dark"></span></a></li>
                            <li><a href="#"><span class="icon-social-github transparent-text-dark"></span></a></li>
                        </ul>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    <script src="{% static 'app/scripts/bootstrap.min.js' %}"></script>
    <script src="{% static 'app/scripts/jquery.nav.js' %}"></script>
</body>
</html>